extends ../layouts/default

block js
  script(src='/socket.io/socket.io.js')
  script(src='/js/missions.js')
  
block content
  br
  br
  .btn-group
    button#missionddb.btn.btn-default.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Select Mission
        span.caret
      ul#missiondd.dropdown-menu

  ul#selectedlist.list-group
